.representationContent{
    display: grid;
    grid-gap: 1em;

    grid-template-areas: 'contact fprint';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr ;
}

.history{
    grid-area: history;
}
.contact{
    grid-area: contact;
}
.fprint{
    grid-area: fprint;
}
